<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>How Minnesota has changed under three governors</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> and <a href="http://www.startribune.com/matt-delong/285386351/">Matt DeLong</a> • <span>Star Tribune</span></p> 
      <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">December 23, 2018</time></div>
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>Following an ignominious tenure as a U.S. Senator, Mark Dayton won by a hair’s breadth in 2010’s heavily-contested gubernatorial election as a divisive figure in Minnesota’s politics.</p>
  
        <p>But time and circumstance were kind to Dayton as the state survived and thrived through recession and difficulty, and he claimed a more decisive victory for reelection in 2014. He now leaves office having boasted relatively high approval ratings throughout his administration.</p>
        
        <p>As Mark Dayton’s eight-year term as Minnesota’s governor comes to an end, here’s a look back at how the state has changed over the course of his administration and those of his predecessors.</p>

        <div class="topbar" id="key"><div class="ind">Ventura</div> <div class="gop">Pawlenty</div> <div class="dfl">Dayton</div></div>
    </section>

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">A robust state economy</h2>
        <p>While Minnesota weathered the Great Recession's storm better than most states, various economic woes still marred Pawlenty's governorship. But by the time Dayton took office, Minnesota's economy started to strongly rebound and has continued to grow.</p>
    </section>

    <div id="wrapper">
        <div id="breakdown" class="slide">
          <div class="chart" id="chartType">

          </div>
          <div class="byline">Source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
        </div>
    </div> 
    <!-- end wrapper -->
  
</div>