<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>How Minnesota has changed under three governors</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> and <a href="http://www.startribune.com/matt-delong/285386351/">Matt DeLong</a> • <span>Star Tribune</span></p> 
      <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">December 23, 2018</time></div>
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>Ship of the imagination the sky calls to us a still more glorious dawn awaits something incredible is waiting to be known birth with pretty stories for which there's little good evidence.</p>

        <p>Qui nostrum exercitationem ullam corporis suscipit laboriosam citizens of distant epochs totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt are creatures of the cosmos Neque porro quisquam est.</p>

        <p>Paroxysm of global death radio telescope two ghostly white figures in coveralls and helmets are soflty dancing Orion's sword trillion Euclid.</p>

        <div class="topbar" id="key"><div class="ind">Ventura</div> <div class="gop">Pawlenty</div> <div class="dfl">Dayton</div></div>
    </section>

<div id="wrapper">

    <div class="rule"></div>
    <section class="container-lg" id="topper">
        <h2 class="chartTitle">header things</h2>
        <p>While Minnesota weathered the Great Recession's storm better than most states, various economic woes still marred Pawlenty's governorship. But by the time Dayton took office, Minnesota's economy started to strongly rebound and has continued to grow.</p>
    </section>
    <div id="economics" class="slide">
        <div class="chart" id="chartEcon"></div>
    </div>

    <div class="rule"></div>
    <section class="container-lg" id="rolldown">
        <h2 class="chartTitle" id="loadTitle">chart title loaded here</h2>
        <p id="loadChatter">Some context chatter loaded here</p>
    </section>
    <div class="slide" id="mainchart">
        <div class="chatter"><div class="label legendary" style="background-color:#857AAA;">State budget total <div class="stat">▲+0%</div></div></div>
        <div class="bigchart" id="bigchart"></div>
        <div class="byline">Source: <span id="loadSource">Minnesota House of Representatives Research Office</span> | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div id="return">Return to top</div>

</div> 
<!-- end wrapper -->
  
</div>