<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>How Minnesota has changed under three governors</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> and <a href="http://www.startribune.com/matt-delong/285386351/">Matt DeLong</a> • <span>Star Tribune</span></p> 
      <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">December 23, 2018</time></div>
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>Following an ignominious tenure as a U.S. Senator, Mark Dayton won by a hair’s breadth in 2010’s heavily-contested gubernatorial election as a divisive figure in Minnesota’s politics.</p>
  
        <p>But time and circumstance were kind to Dayton as the state survived and thrived through recession and difficulty, and he claimed a more decisive victory for reelection in 2014. He now leaves office having boasted relatively high approval ratings throughout his administration.</p>
        
        <p>As Mark Dayton’s eight-year term as Minnesota’s governor comes to an end, here’s a look back at how the state has changed over the course of his administration and those of his predecessors.</p>

        <div class="topbar" id="key"><div class="ind">Ventura</div> <div class="gop">Pawlenty</div> <div class="dfl">Dayton</div></div>
    </section>

    <div id="wrapper">

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">A robust state economy</h2>
        <p>While Minnesota weathered the Great Recession's storm better than most states, various economic woes still marred Pawlenty's governorship. But by the time Dayton took office, Minnesota's economy started to strongly rebound and has continued to grow.</p>
    </section>
    <div id="economics" class="slide">
        <div class="chart" id="chartEcon"></div>
        <div class="byline">Source: U.S. Census Bureau, U.S. Bureau of Labor Statistics, Minnesota Housing Finance Agency  | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">From deficit to surplus</h2>
        <p>Taxes have risen in Minnesota under Dayton, which helped reverse years of budget deficits leftover from the Pawlenty administration.</p>
    </section>
    <div class="slide" id="state">
        <div class="chatter"><div class="label legendary" style="background-color:#857AAA;">State budget total <div class="stat">▲+0%</div></div></div>
        <div class="bigchart" id="budget"></div>
        <div class="byline">Source: Minnesota House of Representatives Research Office | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Expanded health care coverage</h2>
        <p>Both health care costs and those without insurance have declined in Minnesota with the federal institution of the Affordable Care Act and the state establishment of MNSURE.</p>
    </section>
    <div  id="healthcare" class="slide">
      <div class="chart" id="chartHealthCare"></div>
      <div class="byline">Source: Centers for Disease Control, Minnesota Department of Health, Minnesota Health Access Survey | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Soaring higher education costs</h2>
        <p>Tuition costs and student loans have skyrocketed the last decade across Minnesota.</p>
    </section>
    <div class="slide" id="debt">
      <div class="chart" id="chartCollege"></div>
      <div class="byline">Source: University of Minnesota, Minnesota Department of Higher Education | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Stagnant K-12 spending and scores</h2>
        <p>Funding and performance in Minnesota's schools have flatlined under the Dayton administration.</p>
    </section>
    <div class="slide" id="k12">
        <div class="chart" id="chartK12"></div>
        <div class="byline">Source: Minnesota Department of Education | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Improved infrastructure</h2>
        <p>Pawlenty's administration struggled with complaints of unattended potholes and neglected bridges as controversies over infrastructure maintenance raged, especially centered around the collapse of the I-35W Bridge in 2007. Under Dayton, increased spending on roads improved conditions on Minnesota's major thoroughfares and decreased urban congestion.</p>
    </section>
    <div class="slide" id="pavement">
        <div class="chart" id="chartRoads"></div>
        <div class="byline">Source: Texas A&M Transportation Institute. Minnesota Department of Transportation, Federal Highway Administration | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    
    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Reductions in crime</h2>
        <p>Matching national trends, crime rates in Minnesota have steadily declined over the past two decades.</p>
    </section>
    <div class="slide" id="crime">
        <div class="chart" id="chartCrime"></div>
        <div class="byline">Source: Minnesota Bureau of Criminal Apprehension, Minneapolis Police Department, Minnesota Department of Corrections, Star Tribune analysis | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>   

</div> 
<!-- end wrapper -->
  
</div>